.cardsContainer{
    width: 100vw;
    height: 35vh;
    line-height: 25px;
    border: 0.5px solid #d3d3d3;
    text-align: justify;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.cardNickName{
}

.bankName{

}

.cardNumber{

}

.expmonth{
    float: left;
    width: 40vw;
}

.expyear{
    float: right;
    width: 40vw;
}

.expDetails{

}

.cardName{

}